xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (nome,descricao,ingredientes,preco,calorias,tempo)>
<!ATTLIST prato id ID #REQUIRED>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo (#PCDATA)>